.ChartContainer {
    /* width: 50%; */
    height: 100%;
    background-color: #222831;
}

.LegendContainer {
    padding-top: 8%;
}

.Legend {
    color: #DDDDDD;
    display: flex;
    justify-content: space-between;
    padding: 2.5%;
}

.Legend:hover {
    background-color: #30475E;
    color: #DDDDDD;
    display: flex;
    justify-content: space-between;
    padding: 2.5%;
}