.ListContainer {
    width: 50vw;
    height: 100%;
    color: #DDDDDD
    /* padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%; */
    /* border-style: solid; */
}

.PopupOuter {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 50%;
    background-color: black;
}

.PopupInner {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 15%;
    background-color: black;
    color: white;
}

.BudgetList {
    padding: 2%;
}

.BudgetListContainer {
    padding-left: 0;
    margin: 0;
    border-style: solid;
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    overflow: hidden;
    color:#DDDDDD
}

.BudgetListTitle {
    border-bottom: solid;
}

.BudgetListTitle:hover {
    background-color: #F05454;
    color: #222831;
    border-bottom: solid;
}

.BudgetListCol {
    display: flex;
    flex-direction: row;
}

.BudgetListCol:hover {
    background-color: #30475E;
    color: #DDDDDD;
}

.ID {
    width: 33%
}

.Money {
    width: 33%
}

.Note {
    width: 34%
}

#is_expenses {
    color: #DDDDDD;
}
