.ListContainer {
    width: 74vw;
    height: 100%;
    color: #DDDDDD
    /* padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%; */
    /* border-style: solid; */
}

.PopupOuter {
    z-index: 1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 50%;
    background-color: black;
}

.PopupInner {
    z-index: 1;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 15%;
    background-color: #222831;
    color: white;
    border: 2px solid #DDDDDD;
    border-radius: 12px;
}

.ListTable {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.BudgetList {
    padding: 2%;
    width: 45%;
}

.BudgetListContainer {
    padding-left: 0;
    margin: 0;
    border-style: solid;
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    overflow: hidden;
    color:#DDDDDD
}

.BudgetListTitle {
    border-bottom: solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.BudgetListTitle:hover {
    background-color: #F05454;
    color: #222831;
    border-bottom: solid;
    border-color: #DDDDDD;
}

.BudgetListTitle #mid {
    width: 90%;
}

.BudgetListTitle .btn {
    width: 5%;
    height: 1.8em;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0;
}

.BudgetListTitle:hover .btn {
    background-color: rgba(0, 0, 0, 0.3);
}

.BudgetListTitle .btn:hover {
    width: 5%;
    height: 1.8em;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.5);
}


.BudgetListTitle .fa-pen-to-square {
    height: 100%;
    color: #DDDDDD;
    opacity: 0.1;
}

.BudgetListTitle:hover .fa-pen-to-square {
    height: 100%;
    color: #DDDDDD;
    opacity: 1;
}

.BudgetListTitle .fa-circle-plus {
    height: 100%;
    color: #DDDDDD;
    opacity: 0.1;
}

.BudgetListTitle:hover .fa-circle-plus {
    height: 100%;
    color: #DDDDDD;
    opacity: 1;
}

.BudgetListCol {
    display: flex;
    flex-direction: row;
}

.BudgetListCol .fa-pencil {
    color: transparent;
    height: 1em;
    width: 5%;
    padding-top: 2px;
}

.BudgetListCol:hover .fa-pencil {
    color: #DDDDDD;
}

.BudgetListCol:hover {
    background-color: #30475E;
    color: #DDDDDD;
}

.Money {
    width: 25%
}

.Note {
    width: 70%
}

.fa-trash-can {
    color: #F05454
}

.fa-floppy-disk {
    color: #DDDDDD
}

#is_expenses {
    color: #DDDDDD;
}
