.ListContainer {
    background-color: #222831;
    border-radius: 2px;
}

.ListContainer:hover .fa-pen-to-square {
    display: inline;
    opacity: 1;
}

.fa-pen-to-square {
    height: 3em;
    color: #DDDDDD;
    opacity: 0.5;
}

.fa-x {
    color: #F05454;
}

.fa-circle-plus {
    color: #DDDDDD;
    height: 2em;
}